# Ignore .idea directory (JetBrains IDE settings)
.idea/

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/

# Ignore macOS system files
.DS_Store

# Ignore node_modules (if applicable)
node_modules/

# Ignore logs
*.log
